{% extends 'base.html' %}
{% load static %}
{% load humanize%}

{% block title %} Portfolio {% endblock %}

{% block content %}
 <!-- PORTFOLIO -->



<div class="inner">
    <div class="container wrapper ">
        <div class="row ">
        {% if projects %}
            {% for project in projects %}
                <div class="col-lg-4 mb-3  ">
                <div class="card shadow border-0 imageborders">
                    <div class="img-container inner">
                        <img src="{{ project.photo.url }}"  alt="" class="imageborder card-img-top" width="760" height="245">
                    </div>
                        <div class="card-body">
                            <div class="text-center">
                                <h5 class="card-title text-info">{{ project.name|title }}</h5>
                            </div>
                            <div class="row py-2 text-secondary text-center">
                                <div class="col-12">
                                <a href="{% url 'project' project.id %}" class="btn btn-dark ">Read More</a>                                   
                                 </div>
                            </div>

                        </div>
                </div>
            </div>
            
        
            {% endfor %}
        {% else %}
        <div class="col-md-2">
            <p>Whoops no projects </p>
        </div>
        {% endif %}
           
        </div>
    </div>
</div>




{% endblock %}